body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 500px;
    width: 80%;
    margin-bottom: 20px;
}

#model-container {
    height: 500px;
    width: 80%;
    border: 1px solid #ccc;
} 